* {
	box-sizing: border-box;
}

h1,h2, #name, .label{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
	background-color: gray;
	background-image: url("../images/main-bg.png");
	margin: 0 auto;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	height:75px;
	width:100%;
	background-color: #ffffff;
	border-width: 0 0 5px 0;
	border-color: #cccccc;
	border-style: solid;
	margin-bottom:20px;
}

.wrapper {
	width:960px;
	margin:0 auto;
}

#name {
	color:#ffffff;
	background-color: #4aaaa5;
	float:left;
	height:70px;
	padding: 20px;
	font-size:24px;
	font-weight: bold;
}

header a {
	float:right;
	padding:25px;
	color:#666666;
	height: 70px;
	font-size:16px;
}

header a:hover {
	background-color: gray;
	color:#ffffff;
}

header a:active {
	background-color: #4aaaa5;
}

header a:focus {
	background-color: #4aaaa5;
}


#main {
	width:960px;
	margin: 0 auto;
	position:relative;
}

#main section {
	background-color: #ffffff;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding:20px;
	margin-bottom:100px;
}

#s1 {
	width:650px;
	position:absolute;
}

#s2 {
	width:290px;
	position:absolute;
	right:0px;
}

h1 {
	line-height: 2;
	border-width: 0 0 3px 0;
	border-color: #ccc;
	border-style: solid;
	color:#4aaaa5;
	width:100%;
	font-weight: bold;
	font-size: 32px;
	margin-bottom:20px;
}

h2 {
	line-height: 2;
	border-width: 0 0 2px 0;
	border-color: #ccc;
	border-style: solid;
	color:#4aaaa5;
	width:100%;
	font-weight: bold;
	font-size: 24px;
	margin-bottom:20px;
}


#s1 .left {
	float:left;
	margin: 0 20px 20px 0;
	position:relative;
}

#s1 .right {
	float:left;
	margin: 0 0 20px 0;
	position:relative;
}

#s1 .gallery {
	width:290px;
	height:200px;
	object-fit:cover;
}

#s1 .label {
	width:100%;
	position:absolute;
	height:40px;
	bottom:10px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	font-size: 14px;
	opacity:0.9;
	padding:12px;
}

#s2 img {
	margin: 0 15px 20px 0;
	float:left;
}

#pfp {
	margin: 0 20px 20px 0;
	float:left;
}

/*a.left:hover, a.right:hover{
	opacity:1;
}*/

footer {
	position:fixed;
	width:100%;
	height:40px;
	text-align:center;
	font-size: 12px;
	color:#ffffff;
	background-color: #666666; 
	bottom:0px;
	padding:15px;
}

footer a {
	color:#ffffff;
}

footer a:hover{
	color:#4aaaa5;
}

p {
	color: #666666;
	line-height:1.5;
	margin-bottom:20px;
}

.clearfix::after {
Content: "";
display: block;
clear: both;
}
