
.label {
	width:100%;
	position:absolute;
	height:40px;
	bottom:10px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	font-size: 14px;
	opacity:0.9;
	padding:12px;
}


@media screen and (max-width: 768px) {

  /* The wrapper's width will be 600px */
  .wrapper {
    width: 600px;
  }
}
